<h1>Checkout</h1>

Total number of items: <%= @order.order_items.size %>

<%= simple_form_for @order do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>

  <%= f.input :email %>

  <%= f.input :country %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :postal_code %>

  <div id="card-errors"></div>
  <div id="card"></div>

  <%= f.button :submit, "Submit order" %>
<% end %>

<script>
  var stripe = Stripe('<%= Rails.application.secrets.stripe_public_key %>');
  var elements = stripe.elements();
  var card = elements.create('card');
  card.mount("#card");

  $("form.new_order").on('submit', function(event){
    event.preventDefault();

    //  create token based on card
        stripe.createToken(card).then(function(result){
        //  check for error
            if (result.error) {
            //  If there was an error, show customer
                $("#card-errors").html(result.error.message);
            } else {
            //  If there wasn't, send to server
                $("form.new_order").append("<input type=hidden name='order[stripe_token]' value="+result.token.id+">");
                $("form.new_order").get(0).submit();
            }
        });
  });
</script>
